{
  "current_sp": "PBD",
  "submit_delay": 1,
  "forms": [
    {
      "first_name": "John",
      "last_name": "Doe",
      "address_line": "1",
      "address_town": "London",
      "country": "UK",
      "post_code": "W1U 1EF",
      "email_address": "john@doe.com",
      "phone_number": "00000000000"
    }
  ],
  "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.10; rv:34.0) Gecko/20100101 Firefox/34.0"
}
